.ajo_tile {
    float: left;
    margin: 0 10px 40px 10px;
    width: 140px;
    overflow: hidden;
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;
    height: 240px;
}

.ajo_tile_first_name {
    font-weight: bold;
}

.ajo_tile_last_name {

}

i.ajo_tile_link {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url("link-31-32.png");
}

.ajo_tile_figure {
    max-height: 120px;
}

.ajo_tile_picture {
    width: 100%;
    height: auto;
}

.ajo_tile_dummy_picture {
    height: 120px;
}

.ajo_clearfix::after {
    content: "";
    display: table;
    clear: both;
}